.elementor-291 .elementor-element.elementor-global-3609 .elementor-heading-title{font-family:"Neris", Sans-serif;font-size:15px;}.elementor-291 .elementor-element.elementor-element-3bf36f5{margin-top:50px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-4eef93d{margin-top:100px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-79f2140 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-647f56d{columns:1;text-align:left;}.elementor-291 .elementor-element.elementor-element-647f56d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-2d5ab62{margin-top:80px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-6f5f4ae{margin-top:50px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-55077f8{margin-top:100px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-fe655e4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-324c05d{margin-top:100px;margin-bottom:100px;}.elementor-291 .elementor-element.elementor-element-a3502a3{margin-top:100px;margin-bottom:0px;}.elementor-291 .elementor-element.elementor-element-1585c0a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-3d1c1cf{margin-top:0px;margin-bottom:100px;}@media(max-width:767px){.elementor-291 .elementor-element.elementor-element-3bf36f5{padding:10px 10px 10px 10px;}.elementor-291 .elementor-element.elementor-element-d48e0b9 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-4eef93d{margin-top:0px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-291 .elementor-element.elementor-element-413ab16 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-39621af > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-55077f8{margin-top:25px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-291 .elementor-element.elementor-element-1e7301e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-e990c17 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-fe655e4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-d2cf44e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-cabe001 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-a3502a3{margin-top:25px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-291 .elementor-element.elementor-element-b6e3314 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-296e9d8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-1585c0a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-5489a93 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-291 .elementor-element.elementor-element-9f4d5ad > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-79f2140 */.elementor-291 .elementor-element.elementor-element-79f2140 h5:before {
    content:url(https://labbbs.nodocomun.org/wp-content/uploads/2021/09/Cubito-20.png);
    width: 20px;
    margin-top:5px;
    margin-right: 15px;
    display: flex;
    float: left;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e990c17 */.elementor-291 .elementor-element.elementor-element-e990c17 h5:before {
    content:url(https://labbbs.nodocomun.org/wp-content/uploads/2021/09/Cubito-20.png);
    width: 20px;
    margin-top:5px;
    margin-right: 15px;
    display: flex;
    float: left;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-296e9d8 */.elementor-291 .elementor-element.elementor-element-296e9d8 h5:before {
    content:url(https://labbbs.nodocomun.org/wp-content/uploads/2021/09/Cubito-20.png);
    width: 20px;
    margin-top:5px;
    margin-right: 15px;
    display: flex;
    float: left;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Neris';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Black.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Black.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Black.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Black.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BlackItalic.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BlackItalic.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BlackItalic.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BoldItalic.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BoldItalic.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BoldItalic.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBold.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBold.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBold.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBoldItalic.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBoldItalic.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBoldItalic.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Thin.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Thin.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Thin.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Thin.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-ThinItalic.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-ThinItalic.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-ThinItalic.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-LightItalic.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-LightItalic.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-LightItalic.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Neris';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Light.eot');
	src: url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Light.eot?#iefix') format('embedded-opentype'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Light.woff2') format('woff2'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Light.woff') format('woff'),
		url('https://labbbs.nodocomun.org/wp-content/uploads/2021/06/Neris-Light.ttf') format('truetype');
}
/* End Custom Fonts CSS */